* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}

.nav-container h1 {
  font-size: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* gap works for only parent elements */
  /* gap: 20px; */
}

.nav-list li {
  margin: 20px;
}

.nav-list a:link,
.nav-list a:visited {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.nav-list a:active {
  /* color: #333; */
}

.nav-list a:hover {
  font-weight: bold;
  cursor: pointer;
}

.our-services {
  border-bottom: 3px solid #fff;
}

.our-services h1 {
  margin-left: 350px;
  font-size: 50px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 70px;
  background-color: #fff;
}

.elo-logo {
  text-align: center;
  margin-bottom: 50px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: rgb(187, 184, 184);
  cursor: pointer;
  border: none;
}

.line--top {
  margin: auto;
  height: 1.5px;
  width: 110px;
  background-color: rgb(124, 121, 121);
  margin-bottom: 40px;
  margin-top: 50px;
}

.our-services {
  margin-left: 300px;
}

.our-services h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.p-1 {
  margin-bottom: 25px;
}

.our-services p {
  font-size: 25px;
  margin-left: 50px;
  line-height: 1.5;
}

.line--btm {
  margin: auto;
  width: 110px;
  height: 1.5px;
  background-color: rgb(124, 121, 121);
  margin-top: 30px;
  margin-bottom: 90px;
}

.support {
  margin-left: 300px;
}

.support h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.support li {
  font-size: 25px;
  line-height: 1.5;
}

.line-btm {
  margin: auto;
  width: 110px;
  height: 1.5px;
  background-color: rgb(124, 121, 121);
  margin-top: 70px;
  margin-bottom: 80px;
}

.footer-1 {
  margin-left: 300px;
  margin-top: 50px;
}

.icon {
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
}

.icon-1 {
  background-color: palevioletred;
  padding: 10px;
  border-radius: 50px;
}

.icon-2 {
  background-color: rgb(129, 129, 194);
  padding: 10px;
  border-radius: 50px;
}

.icon-3 {
  background-color: rgb(46, 46, 201);
  padding: 10px;
  border-radius: 50px;
}

.footer-1 p {
  color: rgb(73, 73, 73);
  margin-bottom: 20px;
}

.footer-1 a:link,
.footer-1 a:visited {
  text-decoration: none;
  color: rgb(78, 78, 78);
}
